<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <%= stylesheet_link_tag 'bootstrap', "wallet-styles" %>  
  <title>Home</title>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />    
</head>
<body>
  <div class="container-fluid">
    <% if (current_user.A_Verificar?) %>
      <p style="color: black"><strong>Su usuario no se encuentra validado por lo que no tendrá disponibles todas las funcionalidades de la aplicación</strong></p>
    <% end %>
    <h1 class="mt-4">Bienvenido a Alquilapp</h1>
    <p>Somos un emprendimiento de La Plata, bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blas</p>
    <p>Si su cuenta es nueva recibe media hora gratis bla blabla blabla blabla blabla blabla blabla blabla bla</p>
    <div id='map' style='width: 900px; height: 400px;'></div>
  </div>
  
  <!-- Map box-->
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2xlZXB5LWRvZ28iLCJhIjoiY2xhMnJsbXg0MGI4YTN3b3cyMjlvdXQyciJ9.p_N4Twz82flqkmbOZkDZhA';
    const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [-74.5, 40], // starting position [lng, lat]
    zoom: 9, // starting zoom
    projection: 'globe' // display the map as a 3D globe
    });
    map.on('style.load', () => {
    map.setFog({}); // Set the default atmosphere style
    });
  </script>
</body>
