<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <!-- Favicon-->
    <!-- Core theme CSS (includes Bootstrap)-->
    <%= stylesheet_link_tag 'bootstrap', "user-home-styles" %>
</head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white" id="sidebar-wrapper">
        <%= image_tag "Logo_3-removebg-preview.png", height: 40 %>
        <a class="navbar-brand" href="/">Alquilapp</a>
        <div class="list-group list-group-flush">
          <!--  < % if el-usuario-tiene-alquiler-activo? %>
                    < % = render '<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Estado de alquiler</a>' %>
                < % else %>
                    < % = render '<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Alquilar</a>' %>
                < % end %>-->
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/cars">Alquilar</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/billetera/mercadopago">Billetera</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Historial</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Recorridos</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Cupones</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/users/edit">Perfil</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Estado de alquiler</a></div>
      </div>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <div class="container-fluid">
            <button class="btn btn-primary" id="sidebarToggle">Menu lateral</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item active"><a class="nav-link" href="#!">Home </a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#!">Action</a><a class="dropdown-item" href="#!">Another action</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Something else here</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
          <h1 class="mt-4">Bienvenido a Alquilapp</h1>
          <p>Somos un emprendimiento de La Plata, bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blas</p>
          <p>Si su cuenta es nueva recibe media hora gratis bla blabla blabla blabla blabla blabla blabla blabla bla</p>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script >
        window.addEventListener('DOMContentLoaded', event => {
            const sidebarToggle = document.body.querySelector('#sidebarToggle');
            if (sidebarToggle) {
                sidebarToggle.addEventListener('click', event => {
                    event.preventDefault();
                    document.body.classList.toggle('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
                });
            }
        });
    </script>
  </body>
</html>
                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));