<body>
<div class="container-fluid">
<p> ¡Estas baneado! Esto no se puede revocar. </p>
<img src="https://media.tenor.com/TbfChfHKkOUAAAAC/ban-button.gif" /> 
<img src="https://media.tenor.com/9zCgefg___cAAAAC/bane-no.gif" /> </div> </div> 

</div>
</body>
