<head>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <%= stylesheet_link_tag 'bootstrap', "map" %>  
</head>

<body>
<p style="color: green"><%= notice %></p>
<div class="container-fluid">
<p><b> ¡Estas baneado! Comuniquese con el soporte técnico para regularizar su situacion. No podrá acceder a ninguna funcionalidad del sistema </b> </p>
<img src="https://media.tenor.com/TbfChfHKkOUAAAAC/ban-button.gif" /> 
<img src="https://media.tenor.com/9zCgefg___cAAAAC/bane-no.gif" /> </div> </div> 

</div>
</body>
