<head>
<%= stylesheet_link_tag 'bootstrap' %>
</head>
<%= render 'shared/nav' if user_signed_in? %>



<h1>Nuevo alquiler</h1>

<%= render "form", rent: @rent %>

<br>

<div>
  <%= link_to "Back to rents", rents_path %>
</div>
